*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat';
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.active {
  text-decoration-line: underline !important;
}

.contain {
  display: flex;
  padding: 0 96px;
  gap: 24px
}

.containLogement {
  padding: 0;
}

.gapLogement {
  gap: 64px
}

.flexDirectionColumn {
  flex-direction: column;
}


section#lodging {
  display: flex;
  flex-direction: column;
  // min-height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;

    .header {
      width: 100%;
      display: flex;

      .title {
        width: 50%;

        h1 {
          font-style: normal;
          font-weight: 500;
          font-size: 36px;
          line-height: 142.6%;
          color: #ff6060;
          margin-bottom: 10px;
        }

        h2 {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 142.6%;
          color: black;
          margin-top: 0;
        }

        .tags {
          display: flex;
        }
      }

      .sub-header {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;

        .host {
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 142.6%;
            color: #ff6060;
            padding: 10px;
          }

          img {
            width: 64px;
            height: 64px;
            border-radius: 32px;
            margin: 10px;
          }
        }

        .stars {
          display: flex;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contain {
    padding: 0;
    flex-direction: column;
  }

  section#lodging {
    margin-top: 0;

    .container {
      .header {
        flex-direction: column;

        .title {
          width: 100%;

          h1 {
            font-size: 18px;
          }

          h2 {
            font-size: 14px;
          }
        }

        .sub-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          .host {
            order: 2;

            span {
              font-size: 12px;
            }

            img {
              height: 32px;
              width: 32px;
            }
          }

          .stars {
            order: 1;
          }
        }
      }
    }
  }
}