.container {
  width: 100%;
}

.button {
  width: 100%;
  background-color: #ff6060;
  color: #fff;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 18px;
}

.button:hover {
  background-color: #f56565;
}

.content {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 0;
  background-color: #f7f7f7;
  font-size: 18px;
}

.contentOpen {
  max-height: 500px;
  padding: 8px;
  list-style-type: none;
}

.arrow {
  width: 16px;
  height: 16px;
  transition: transform 0.3s;
}

.arrowOpen {
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 13px;
  }

  .content {
    font-size: 12px;
  }
}